/**************************** GERAL ****************************/

/*
Cores: #E1ECF9 BG
#609CE1
#236AB9
#133863
#091D34
*/

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #17a2b8;
}

p {
    color: #133863;
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 a, h3 a, h4 a, h5 a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #091d3a;
}

body {
    background-color: #E1ECF9;
}

.alignleft {
    float: left;
    padding: 0.2em 1.5em;
}

.alignright {
    float: right;
    padding: 0.4em;
}

.barra-funcoes {
    display: inline-block;
}

.botao-imprimir {
    display: inline-block;
}

.texto-imprimir {
    padding-left:5px;
}


/**************************** TOPO ****************************/

#logo a img {
    width: 100px;
    margin: 10px 0 0 20px
}

#banner-topo {
    background: url(../img/imagemTopo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    height: 130px;
}

.titulo-portal {
    margin-right: 25px;
    font-weight: bold;
    text-shadow: 2px 2px #e1ecf9;
    color: #f8f9fa;
    font-size:3em;
}

.titulo-portal a {
    color: #0080c5;
    text-decoration: none;
}

.view {
    cursor: pointer;
}

/*
#menu {
    float: left;
    width: 100%;
    height: 50px;
}

#menu li {
    float: left;
    padding: 10px 20px;
}

#menu li ul {
    display: none;
    position: absolute;
}

#menu li ul li {
    display: block;
    float: none;
    padding: 5px 10px;
}*/


/* Small devices (0 até 576px)*/
@media (max-width: 576px) {

    #logo {
        text-align: center !important;
    }

    #logo a img {
        width: 100px;
    }
    #busca, #redes-sociais-topo, .lupa {
        display: none;
    }
    #sub-destaque-noticia {
        margin-top: 20px;
        text-align: center;
    }
    .data-pub {
        margin-top: 10px;
    }
    footer {
        text-align: center;
    }
}

#redes-sociais-topo a {
    color: #17a2b8;
}

#redes-sociais-topo a:hover{
    color: #091d3a;
}

.blue {
    color:#007bff
}

.navbar ul li {
    position: relative;
    display: inline-block;
    font-weight: 500;

}

.navbar ul li a {
    color: #17a2b8;
        letter-spacing: 1.2px;
        font-size: 1.1em;
        padding: 10px;
}

.navbar ul li a:hover {
    color: white;
    background-color: #17a2b8;
}


.nav-link {
    color: #17a2b8 !important;

}

.nav-link:hover {
    color: white  !important;
}

li.nav-item:hover {
    background-color: #17a2b8;
}

/**************************** CONTEUDO DESTAQUES ****************************/

.img-sub {
    width: 450px;
}

.img-sub-destaque {
    padding: 15px 5px 0 5px;
}

/* acima de large devices (a partir de 900px)*/
@media (min-width: 1200px) {
    .img-sub-destaque {
        padding-top: 0;
        padding-bottom: 15px;
    }
}

/************************************* CONTEUDO SUB DESTAQUE  ***************/

.subDestaque {
    list-style: none;
}

/**************************** CONTEUDO PRINCIPAL ****************************/

.link-veja-mais {
    float: right;
}

.list-group-item {
    background-color: #f8f9fa;
}


/**************************** LISTA VÍDEOS ****************************/

.lista_videos {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.lista_videos iframe,
.lista_videos object,
.lista_videos embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*************************** BANNERS *****************************/
.banner_img {
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(97, 97, 97, 0.9);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(97, 97, 97, 0.9);
    box-shadow: inset 0px 0px 3px 1px rgba(97, 97, 97, 0.3)
}

/**************************** FOOTER ****************************/

footer {
   background-color: #f8f9fa!important;
}

footer h4 {
    color: #17a2b8;
}

#redes-sociais-footer .list-group-item {
    border: 0px
}

.lista-links, .texto-footer {
    font-size: 0.9em;
}

.redes-footer a {
    margin: 0px 0.2em;
}

ul#menu-rodape {
    list-style: none;
    margin-bottom: 20px;
}

ul#menu-rodape a.nav-link {
    border-bottom: 1px solid;
}

/**************************** PAGINAÇÃO ****************************/


/* Small devices (0 até 576px)*/
@media (max-width: 576px) {
    .form-footer input {
        margin: 0 20px;
    }
    .form-footer button {
        margin: 0 auto;
    }
    #horario {
        margin: 20px 0;
    }
}

/* Large devices (mais de 900px)*/
@media (min-width: 900px) {
    #endereco, #redes-sociais-footer, #links-rapidos  {
        padding-left: 60px;
    }

}


.WP-PrintIcon {
    padding-left:10px;
}

/************************** Post Navigation *******************************/
h1.page-title {
    margin: 40px 0;
}
/*
.screen-reader-text {
    font-size: 1.2em;
}

nav.navigation.pagination {
    margin-top:50px;
}

.nav-links {
    padding: 0 5px;
}
*/

.pagination {
    margin-top: 25px;
}


/************************** Barra Compartilhamento *******************************/

.barra-redes {
    font-size: 1.1em;
}


/*************************

Styles for the buttons.
@Vivek Kumar Poddar
https://wpvkp.com

*************************/

.social-box {
    display: block;
}

.social-box:last-of-type {
    margin: 0 0 40px;
}

.social-btn {
    display: block;
    width: 100%;
}

a.col-2.sbtn span {
    display: none;
}

a.col-1.sbtn {
    width: 180px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    color: #fff;
    margin: 0 0.5% 0 0;
    font-size: 15px;
}

a.col-1.sbtn span {
    margin: 0 0 0 15px;
}

a.col-2.sbtn {
    width: 6%;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    color: #fff;
    margin: 0 0.5% 0 0;
    line-height: 1.825 !important;
    max-width: 50px;
    min-width: 50px;
}

.s-twitter {
    background: #03A9F4;
}

.s-twitter::before {
    font-family: fontawesome;
    content: '\f099';
}

.s-twitter:hover {
    background: #0093d6;
}


.s-facebook {
    background: #3F51B5;
}

.s-facebook::before {
    font-family: fontawesome;
    content: '\f09a';
}

a.col-1.sbtn.s-facebook:hover {
    background: #2f409f;
}



.s-googleplus {
    background: #F44336;
}

.s-googleplus::before {
    font-family: fontawesome;
    content: '\f0d5';
}

.s-googleplus:hover {
    background: #c82c21;
}



.s-whatsapp {
    background: #4CAF50;
}

.s-whatsapp::before {
    font-family: fontawesome;
    content: '\f232';
}

a.col-2.sbtn.s-whatsapp:hover {
    background: #3d9440;
}



.s-linkedin {
    background: #1a7baa;
}

.s-linkedin::before {
    font-family: fontawesome;
    content: '\f0e1';
}

a.col-2.sbtn.s-linkedin:hover {
    background: #136288;
}


.s-pinterest {
    background: #bd081c;
}

.s-pinterest::before {
    font-family: fontawesome;
    content: '\f231';
}

a.col-2.sbtn.s-pinterest:hover {
    background: #a10718;
}



/*.s-buffer {
	background: #ced7df;
}
.s-buffer::before {
    font-family: fontawesome;
    content: '\e804';
}
a.col-2.sbtn.s-buffer:hover {
    background: #c3c5c8;
}*/

/********************************
////// Important
*******************************/

.social-btn a:last-of-type {
    margin: 0;
}


@media only screen and (max-width: 1200px) {
    a.col-1.sbtn {
        width: 180px;
        display: inline-block;
        text-align: center;
        border-radius: 50px;
        padding: 10px;
        color: #fff;
        margin: 0 0.5% 0 0;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    a.col-1.sbtn {
        width: 46px;
    }

    a.col-1.sbtn span {
        display: none;
    }
}

